# Hetrec - IMDB Matching

In [2]:
import openai
import json
import pandas as pd
import numpy as np
import h5py
import re
import os

with open("../openai.key", "r") as f:
    os.environ["OPENAI_API_KEY"] = f.readlines()[0]

In [3]:
def combine_columns(row):
    combined = ""
    for name in row.index.values:
        if row[name] == "none" or row[name] == "N/A" or name == "Combined":
            pass
        else:
            combined += f"{row[name]}\n\n"

    return combined

# Hetrec ML-10m

## Collecting Features

### Base

In [159]:
movies_base = pd.read_csv(
    "../data/hetrec/movies.dat", encoding="latin-1", sep="\t"
).rename(columns={"id":"movieID"})

movies_base = movies_base.loc[:, ["movieID", "title", "year"]]
movies_base.head(5)

   movieID                        title  year
0        1                    Toy story  1995
1        2                      Jumanji  1995
2        3               Grumpy Old Men  1993
3        4            Waiting to Exhale  1995
4        5  Father of the Bride Part II  1995

### Genres

In [160]:
from functools import partial

def combined_string(row, items):
    return ", ".join(items[row.values.astype(bool)])

genres = pd.read_csv("../data/hetrec/movie_genres.dat", encoding="latin-1", sep="\t")

# Kind of a dumb way to create boolean masks, the movieID in the values will be replaced with 1
genres = genres.pivot(index="movieID", columns="genre", values="movieID")
genres[genres > 0] = 1
genres = genres.replace(np.nan, 0).astype(int)
genres_names = genres.columns.values

genres["Genres"] = genres.apply(partial(combined_string, items=genres_names), axis=1)
genres = genres.reset_index().loc[:, ["movieID", "Genres"]]
genres

genre  movieID                                           Genres
0            1  Adventure, Animation, Children, Comedy, Fantasy
1            2                     Adventure, Children, Fantasy
2            3                                  Comedy, Romance
3            4                           Comedy, Drama, Romance
4            5                                           Comedy
...        ...                                              ...
10192    65088                      Adventure, Children, Comedy
10193    65091                            Crime, Drama, Romance
10194    65126                                    Comedy, Drama
10195    65130                                   Drama, Romance
10196    65133                                           Comedy

[10197 rows x 2 columns]

### Tags

In [161]:
tags = pd.read_csv("../data/hetrec/tags.dat", encoding="latin-1", sep="\t").rename(columns={"id":"tagID"})
movie_tags = pd.read_csv("../data/hetrec/movie_tags.dat", encoding="latin-1", sep="\t")

movie_tags = movie_tags[movie_tags["tagWeight"] > 1]

movie_tags = movie_tags.merge(tags, "left", on="tagID")
movie_tags = movie_tags.pivot(index="movieID", columns="value", values="tagWeight")
movie_tags = movie_tags.replace(np.nan, 0).astype(int)

tag_names = movie_tags.columns.values
movie_tags["Tags"] = movie_tags.apply(partial(combined_string, items=tag_names), axis=1)

movie_tags = movie_tags.reset_index().loc[:, ["movieID", "Tags"]]
movie_tags

value  movieID                                               Tags
0            1  adventure, animated, animation, classic, comed...
1            2  animals, board game, fantasy, game, robin will...
2            3                                                old
3            5     childhood classics, family, pregnancy, wedding
4            6       cant remember, recommendz top pick, too long
...        ...                                                ...
2958     63113                     007 (series), assassin, murder
2959     63876            biography, gay, politics, san francisco
2960     63992                                    so bad its good
2961     64983                                    assassin, nazis
2962     64993                                              anime

[2963 rows x 2 columns]

### Actors

In [162]:
actors = pd.read_csv("../data/hetrec/movie_actors.dat", encoding="latin-1", sep="\t")

actors = actors.pivot(index="movieID", columns="actorName", values="movieID")
actors[actors > 0] = 1
actors = actors.replace(np.nan, 0).astype(int)
actors = actors.drop(np.NaN, axis=1)

actor_names = actors.columns.values
actors["Actors"] = actors.apply(partial(combined_string, items=actor_names), axis=1)

actors = actors.reset_index().loc[:, ["movieID", "Actors"]]
actors

actorName  movieID                                             Actors
0                1  Annie Potts, Bill Farmer, Don Rickles, Erik vo...
1                2  Adam Hann-Byrd, Bebe Neuwirth, Bonnie Hunt, Br...
2                3  Ann-Margret, Buck Henry, Buffy Sedlachek, Burg...
3                4  Angela Bassett, Brandon Hammond, Dennis Haysbe...
4                5  Ann Walker, Annie Meyers-Shyer, April Ortiz, B...
...            ...                                                ...
10169        65088  Abigail Leone Droeger, Adam Sandler, Adam Shan...
10170        65091  Al Thompson, Alex Melesh, Bert Russell, Bert S...
10171        65126  Anjelica Huston, Bijou Phillips, Brad William ...
10172        65130  David Harbour, Dylan Baker, Jay O Sanders, Kat...
10173        65133  Colin Firth, Hugh Laurie, Kate Moss, Miranda R...

[10174 rows x 2 columns]

### Directors

In [163]:
directors = pd.read_csv("../data/hetrec/movie_directors.dat", encoding="latin-1", sep="\t")
directors = directors.loc[:, ["movieID", "directorName"]]
directors = directors.rename(columns={"directorName": "DirectorName"})
directors

       movieID     DirectorName
0            1    John Lasseter
1            2     Joe Johnston
2            3    Donald Petrie
3            4  Forest Whitaker
4            5    Charles Shyer
...        ...              ...
10150    65088    Adam Shankman
10151    65091    W.S. Van Dyke
10152    65126      Clark Gregg
10153    65130       Sam Mendes
10154    65133     Paul Weiland

[10155 rows x 2 columns]

### Countries

In [164]:
countries = pd.read_csv("../data/hetrec/movie_countries.dat", encoding="latin-1", sep="\t")
countries = countries.rename(columns={"country": "Country"})
countries

       movieID Country
0            1     USA
1            2     USA
2            3     USA
3            4     USA
4            5     USA
...        ...     ...
10192    65088     USA
10193    65091     USA
10194    65126     USA
10195    65130     USA
10196    65133      UK

[10197 rows x 2 columns]

### Locations

In [165]:
from collections import defaultdict
locations = pd.read_csv("../data/hetrec/movie_locations.dat", encoding="latin-1", sep="\t")

loc_dict = {k: [] for k in locations["movieID"].values}
for i, row in locations.iterrows():
    location = []
    if (row[1] is not np.nan) and (row[2] is not np.nan) and (row[3] is not np.nan):
        for j in row[1:]:
            if j is not np.nan:
                location.append(j)
                
    location_str = " - ".join(location)
    #print(location_str.strip(" "))
    loc_dict[row[0]].append(location_str)

    
combined_loc_dict = {}        
for k, v in loc_dict.items():
    for i in v:
        if i == "":
            v.remove("")
            
    combined_loc_dict[k] = ", ".join(v)
    
combined_loc_df = pd.DataFrame(
    data=combined_loc_dict.values(),
    index=combined_loc_dict.keys(),
    columns=["FilmingLocations"]
    )

combined_loc_df = combined_loc_df.reset_index().rename(columns={"index": "movieID"})

# Merging with Base

In [628]:
full_movies = movies_base.merge(
    genres, "inner", on="movieID")

full_movies = full_movies.merge(
    movie_tags, "outer", on="movieID").replace({"Tags": np.nan}, "none")

full_movies = full_movies.merge(
    actors, "outer", on="movieID").replace({"Actors": np.nan}, "none")

full_movies = full_movies.merge(
    directors, "outer", on="movieID").replace({"DirectorName": np.nan}, "none")

full_movies = full_movies.merge(
    countries, "outer", on="movieID").replace({"Country": np.nan}, "none")

full_movies = full_movies.merge(
    combined_loc_df, "outer", on="movieID").replace({"FilmingLocations": ""}, "N/A")

full_movies = full_movies.rename(columns={"movieID": "MovieID",
                                          "title": "MovieTitle",
                                          "year": "ReleaseYear"})
full_movies.head(2)

,MovieID,MovieTitle,ReleaseYear,Genres,Tags,Actors,DirectorName,Country,FilmingLocations
0,1,Toy story,1995,"Adventure, Animation, Children, Comedy, Fantasy","adventure, animated, animation, classic, comed...","Annie Potts, Bill Farmer, Don Rickles, Erik vo...",John Lasseter,USA,N/A
1,2,Jumanji,1995,"Adventure, Children, Fantasy","animals, board game, fantasy, game, robin will...","Adam Hann-Byrd, Bebe Neuwirth, Bonnie Hunt, Br...",Joe Johnston,USA,"Canada - British Columbia - Delta, Canada - Br..."

# Adding in Wiki Descriptions (Level 3)

In [539]:
wiki_df = pd.read_csv("./hetrec_movie_wiki_descriptions.csv")
wiki_df = wiki_df.rename({"movieID": "MovieID"}, axis=1).drop("pageid", axis=1)

full_movies = full_movies.merge(wiki_df, "outer", on="MovieID").fillna("N/A")

# Minimal Extra Information (Level 1)

In [137]:
full_movies = full_movies.loc[:, ["MovieID", "MovieTitle", "ReleaseYear"]]

# Combining

In [629]:
full_movies["Combined"] = full_movies.apply(combine_columns, axis=1)
print(full_movies["Combined"][0])

Toy story

1995

Adventure, Animation, Children, Comedy, Fantasy

adventure, animated, animation, classic, comedy, computer animation, disney, family, pixar, tim allen, time travel, tom hanks, toys

Annie Potts, Bill Farmer, Don Rickles, Erik von Detten, Greg Berg, Jack Angel, Jan Rabson, Jim Varney, Joan Cusack, Joe Ranft, John Morris, John Ratzenberger, Kendall Cunningham, Laurie Metcalf, Patrick Pinney, Penn Jillette, Philip Proctor, R. Lee Ermey, Sarah Freeman, Scott McAfee, Sherry Lynn, Tim Allen, Tom Hanks, Wallace Shawn

John Lasseter

USA

# Removing Most Common Tokens (Level 4)

In [541]:
combined_column = full_movies["Combined"]
combined_column

0        Toy story\n\n1995\n\nAdventure, Animation, Chi...
1        Jumanji\n\n1995\n\nAdventure, Children, Fantas...
2        Grumpy Old Men\n\n1993\n\nComedy, Romance\n\no...
3        Waiting to Exhale\n\n1995\n\nComedy, Drama, Ro...
4        Father of the Bride Part II\n\n1995\n\nComedy\...
                               ...
10192    Bedtime Stories\n\n2008\n\nAdventure, Children...
10193    Manhattan Melodrama\n\n1934\n\nCrime, Drama, R...
10194    Choke\n\n2008\n\nComedy, Drama\n\nAnjelica Hus...
10195    Revolutionary Road\n\n2008\n\nDrama, Romance\n...
10196    Blackadder Back & Forth\n\n1999\n\nComedy\n\nC...
Name: Combined, Length: 10197, dtype: object

In [542]:
from spacy.lang.en import English

tokenizer = English().tokenizer

In [578]:
from collections import Counter

all_count = Counter()

for doc in tokenizer.pipe(combined_column, 100):
    tokens = [
        token.orth_
        for token in doc
        if (token.orth_.isalpha() and not token.is_stop)
    ]
    doc_count = Counter(tokens)
    doc_count = {k: 1 for k in doc_count}
    all_count.update(doc_count)

In [579]:
most_common_dict = dict(all_count.most_common()[:int(len(combined_column)*0.05)])
most_common_dict = {k: v for k, v in all_count.most_common() if v > int(len(combined_column)*0.05)}

In [580]:
list(most_common_dict.items())

[('film', 9536),
 ('Plot', 9323),
 ('directed', 8795),
 ('USA', 7337),
 ('American', 6424),
 ('Drama', 5088),
 ('written', 4680),
 ('John', 4632),
 ('time', 3926),
 ('tells', 3851),
 ('starring', 3786),
 ('released', 3778),
 ('Comedy', 3609),
 ('home', 3559),
 ('stars', 3524),
 ('later', 3494),
 ('life', 3491),
 ('California', 3475),
 ('based', 3472),
 ('Michael', 3458),
 ('finds', 3316),
 ('comedy', 3289),
 ('takes', 3248),
 ('story', 3240),
 ('find', 3214),
 ('David', 3192),
 ('drama', 3061),
 ('New', 3029),
 ('Robert', 2946),
 ('man', 2923),
 ('night', 2908),
 ('away', 2883),
 ('help', 2864),
 ('James', 2858),
 ('day', 2836),
 ('new', 2822),
 ('father', 2782),
 ('United', 2762),
 ('young', 2709),
 ('City', 2707),
 ('received', 2674),
 ('goes', 2672),
 ('death', 2667),
 ('family', 2644),
 ('leaves', 2588),
 ('friend', 2561),
 ('Los', 2559),
 ('returns', 2532),
 ('Angeles', 2521),
 ('years', 2510),
 ('Film', 2495),
 ('tries', 2481),
 ('wife', 2478),
 ('Richard', 2478),
 ('Studios', 2474),
 ('having', 2474),
 ('including', 2461),
 ('begins', 2453),
 ('States', 2449),
 ('leave', 2426),
 ('produced', 2415),
 ('love', 2413),
 ('Paul', 2378),
 ('old', 2368),
 ('million', 2353),
 ('mother', 2351),
 ('house', 2321),
 ('way', 2309),
 ('return', 2297),
 ('killed', 2293),
 ('arrives', 2283),
 ('named', 2270),
 ('Peter', 2180),
 ('reveals', 2177),
 ('police', 2174),
 ('discovers', 2157),
 ('attempts', 2148),
 ('York', 2112),
 ('meets', 2102),
 ('kill', 2096),
 ('woman', 2090),
 ('asks', 2090),
 ('work', 2069),
 ('office', 2068),
 ('reviews', 2042),
 ('year', 2040),
 ('car', 1996),
 ('decides', 1984),
 ('escape', 1958),
 ('son', 1956),
 ('George', 1956),
 ('Best', 1948),
 ('William', 1946),
 ('gets', 1941),
 ('follows', 1940),
 ('men', 1931),
 ('gives', 1915),
 ('screenplay', 1903),
 ('novel', 1903),
 ('set', 1902),
 ('critics', 1865),
 ('eventually', 1854),
 ('friends', 1852),
 ('relationship', 1836),
 ('release', 1827),
 ('group', 1811),
 ('refuses', 1788),
 ('Tom', 1779),
 ('place', 1766),
 ('shot', 1766),
 ('sees', 1755),
 ('Charles', 1735),
 ('end', 1729),
 ('Jack', 1724),
 ('co', 1724),
 ('daughter', 1722),
 ('money', 1715),
 ('leaving', 1713),
 ('box', 1704),
 ('local', 1697),
 ('room', 1696),
 ('Frank', 1694),
 ('learns', 1684),
 ('makes', 1670),
 ('dead', 1668),
 ('Thriller', 1665),
 ('meet', 1660),
 ('like', 1656),
 ('Romance', 1651),
 ('following', 1650),
 ('left', 1649),
 ('films', 1633),
 ('series', 1628),
 ('Street', 1627),
 ('best', 1623),
 ('soon', 1622),
 ('realizes', 1620),
 ('finally', 1613),
 ('final', 1613),
 ('people', 1577),
 ('comes', 1575),
 ('kills', 1575),
 ('ends', 1569),
 ('Academy', 1559),
 ('Lee', 1557),
 ('success', 1555),
 ('Park', 1555),
 ('wants', 1550),
 ('fight', 1538),
 ('falls', 1531),
 ('lives', 1530),
 ('come', 1517),
 ('says', 1516),
 ('head', 1505),
 ('UK', 1505),
 ('Pictures', 1504),
 ('killing', 1500),
 ('agrees', 1499),
 ('second', 1492),
 ('Later', 1482),
 ('Action', 1467),
 ('attempt', 1464),
 ('town', 1459),
 ('school', 1457),
 ('taken', 1452),
 ('Joe', 1451),
 ('run', 1442),
 ('title', 1437),
 ('Mark', 1434),
 ('British', 1433),
 ('job', 1430),
 ('won', 1422),
 ('brother', 1418),
 ('Bill', 1410),
 ('runs', 1404),
 ('arrive', 1398),
 ('known', 1398),
 ('budget', 1391),
 ('live', 1391),
 ('production', 1387),
 ('romantic', 1386),
 ('use', 1385),
 ('instead', 1382),
 ('body', 1376),
 ('long', 1372),
 ('calls', 1372),
 ('found', 1368),
 ('party', 1365),
 ('making', 1353),
 ('husband', 1352),
 ('morning', 1350),
 ('role', 1349),
 ('turns', 1339),
 ('shows', 1336),
 ('Award', 1333),
 ('real', 1321),
 ('order', 1320),
 ('Scott', 1306),
 ('action', 1303),
 ('children', 1301),
 ('Martin', 1298),
 ('working', 1295),
 ('small', 1294),
 ('stop', 1291),
 ('world', 1287),
 ('scene', 1286),
 ('play', 1284),
 ('plot', 1268),
 ('offers', 1268),
 ('high', 1261),
 ('original', 1258),
 ('plan', 1250),
 ('breaks', 1248),
 ('Thomas', 1243),
 ('attack', 1240),
 ('called', 1240),
 ('appears', 1239),
 ('England', 1234),
 ('Mary', 1232),
 ('stay', 1230),
 ('Smith', 1230),
 ('girl', 1225),
 ('taking', 1225),
 ('begin', 1220),
 ('cast', 1220),
 ('de', 1213),
 ('outside', 1210),
 ('movie', 1203),
 ('escapes', 1199),
 ('War', 1198),
 ('going', 1194),
 ('living', 1190),
 ('Avenue', 1189),
 ('uses', 1186),
 ('murder', 1168),
 ('shoots', 1167),
 ('parents', 1166),
 ('Steve', 1157),
 ('trying', 1153),
 ('Canada', 1149),
 ('dies', 1148),
 ('nominated', 1147),
 ('confronts', 1139),
 ('plans', 1136),
 ('apartment', 1133),
 ('girlfriend', 1132),
 ('discover', 1125),
 ('married', 1118),
 ('hospital', 1117),
 ('Jones', 1117),
 ('visits', 1116),
 ('child', 1112),
 ('Kevin', 1110),
 ('Crime', 1109),
 ('earlier', 1106),
 ('Awards', 1101),
 ('days', 1100),
 ('Jim', 1089),
 ('grossing', 1089),
 ('believes', 1089),
 ('explains', 1089),
 ('works', 1083),
 ('forced', 1083),
 ('sex', 1082),
 ('book', 1081),
 ('Christopher', 1081),
 ('crime', 1076),
 ('Brian', 1069),
 ('sent', 1069),
 ('Tony', 1064),
 ('worldwide', 1061),
 ('National', 1060),
 ('died', 1059),
 ('inside', 1058),
 ('Harry', 1057),
 ('Bob', 1055),
 ('visit', 1054),
 ('causing', 1054),
 ('Despite', 1043),
 ('leads', 1041),
 ('hand', 1037),
 ('starts', 1037),
 ('try', 1037),
 ('Adventure', 1036),
 ('given', 1033),
 ('Don', 1032),
 ('sister', 1031),
 ('led', 1030),
 ('Patrick', 1026),
 ('fire', 1023),
 ('despite', 1021),
 ('turn', 1019),
 ('French', 1018),
 ('gun', 1017),
 ('features', 1015),
 ('Williams', 1015),
 ('boy', 1015),
 ('tell', 1015),
 ('Anthony', 1014),
 ('Festival', 1014),
 ('face', 1011),
 ('black', 1010),
 ('save', 1009),
 ('large', 1008),
 ('North', 1007),
 ('West', 1006),
 ('seen', 1005),
 ('orders', 1003),
 ('arrested', 1002),
 ('manages', 999),
 ('San', 997),
 ('city', 997),
 ('London', 996),
 ('music', 995),
 ('revealed', 994),
 ('Horror', 994),
 ('Chris', 992),
 ('company', 985),
 ('women', 984),
 ('accidentally', 982),
 ('lost', 980),
 ('Alan', 978),
 ('war', 978),
 ('late', 975),
 ('grossed', 972),
 ('director', 970),
 ('start', 967),
 ('team', 966),
 ('France', 966),
 ('positive', 965),
 ('lead', 961),
 ('thriller', 957),
 ('meeting', 956),
 ('telling', 952),
 ('critical', 945),
 ('television', 945),
 ('break', 945),
 ('Daniel', 944),
 ('quickly', 944),
 ('Sam', 942),
 ('members', 940),
 ('Washington', 937),
 ('couple', 932),
 ('fall', 929),
 ('Henry', 925),
 ('mixed', 923),
 ('character', 922),
 ('free', 921),
 ('sequel', 921),
 ('Mike', 921),
 ('Hollywood', 921),
 ('Stephen', 919),
 ('forces', 916),
 ('initially', 914),
 ('Jean', 914),
 ('secret', 914),
 ('horror', 913),
 ('good', 912),
 ('II', 912),
 ('able', 911),
 ('debut', 910),
 ('leading', 906),
 ('told', 902),
 ('performance', 899),
 ('Taylor', 898),
 ('true', 896),
 ('past', 895),
 ('Bruce', 894),
 ('near', 892),
 ('Howard', 890),
 ('feature', 889),
 ('sends', 889),
 ('actually', 887),
 ('rest', 885),
 ('World', 885),
 ('South', 884),
 ('attacks', 880),
 ('Ray', 876),
 ('successful', 876),
 ('convinces', 875),
 ('marriage', 875),
 ('short', 871),
 ('Columbia', 869),
 ('suicide', 869),
 ('officer', 867),
 ('join', 865),
 ('Ben', 864),
 ('Joseph', 858),
 ('saying', 854),
 ('Gary', 851),
 ('sets', 850),
 ('decide', 849),
 ('King', 847),
 ('events', 845),
 ('rescue', 843),
 ('Hall', 843),
 ('followed', 841),
 ('learn', 841),
 ('International', 840),
 ('business', 838),
 ('early', 835),
 ('Billy', 833),
 ('Jason', 833),
 ('drive', 832),
 ('Brown', 831),
 ('getting', 831),
 ('Tim', 830),
 ('premiered', 827),
 ('continues', 826),
 ('nearby', 825),
 ('informs', 823),
 ('took', 819),
 ('station', 818),
 ('unable', 818),
 ('continue', 812),
 ('open', 811),
 ('career', 808),
 ('characters', 807),
 ('building', 806),
 ('immediately', 806),
 ('control', 805),
 ('roles', 805),
 ('drives', 802),
 ('location', 802),
 ('Johnson', 801),
 ('search', 799),
 ('prison', 797),
 ('star', 796),
 ('Golden', 792),
 ('Edward', 792),
 ('bring', 790),
 ('months', 790),
 ('close', 789),
 ('door', 787),
 ('hit', 787),
 ('involved', 784),
 ('country', 783),
 ('Eric', 783),
 ('accepts', 782),
 ('claims', 782),
 ('Jeff', 780),
 ('affair', 780),
 ('enters', 778),
 ('hotel', 776),
 ('Road', 775),
 ('let', 772),
 ('ex', 770),
 ('know', 768),
 ('boyfriend', 766),
 ('receives', 764),
 ('marry', 764),
 ('flees', 764),
 ('invites', 761),
 ('pair', 760),
 ('supporting', 759),
 ('believe', 757),
 ('phone', 757),
 ('shoot', 756),
 ('Walter', 754),
 ('Andrew', 752),
 ('looking', 752),
 ('game', 751),
 ('flee', 749),
 ('Davis', 748),
 ('previous', 746),
 ('seeing', 746),
 ('little', 746),
 ('knows', 745),
 ('Fi', 745),
 ('Fox', 744),
 ('look', 743),
 ('number', 742),
 ('train', 742),
 ('Sci', 742),
 ('Larry', 741),
 ('Wilson', 740),
 ('White', 733),
 ('English', 732),
 ('encounters', 732),
 ('plays', 732),
 ('owner', 729),
 ('window', 729),
 ('Roger', 729),
 ('deal', 728),
 ('water', 728),
 ('musical', 725),
 ('admits', 723),
 ('news', 721),
 ('played', 721),
 ('demands', 721),
 ('giving', 720),
 ('video', 719),
 ('missing', 716),
 ('Jonathan', 715),
 ('walks', 714),
 ('playing', 713),
 ('Jane', 713),
 ('revealing', 712),
 ('met', 708),
 ('causes', 708),
 ('helps', 707),
 ('interest', 707),
 ('travel', 706),
 ('caught', 706),
 ('self', 704),
 ('insists', 704),
 ('pay', 703),
 ('brought', 702),
 ('throws', 702),
 ('pregnant', 701),
 ('win', 701),
 ('younger', 701),
 ('dinner', 700),
 ('Harris', 699),
 ('score', 698),
 ('street', 698),
 ('case', 698),
 ('Elizabeth', 697),
 ('talk', 693),
 ('commercial', 692),
 ('captured', 692),
 ('human', 691),
 ('attacked', 691),
 ('revenge', 690),
 ('trip', 690),
 ('remains', 690),
 ('filmed', 690),
 ('heart', 689),
 ('leader', 688),
 ('public', 688),
 ('Boulevard', 685),
 ('Steven', 684),
 ('crew', 683),
 ('threatens', 683),
 ('force', 682),
 ('finding', 681),
 ('brings', 681),
 ('alive', 681),
 ('point', 681),
 ('entire', 681),
 ('returning', 680),
 ('Susan', 679),
 ('song', 679),
 ('Kelly', 679),
 ('Miller', 678),
 ('exchange', 676),
 ('De', 675),
 ('feels', 675),
 ('running', 673),
 ('Arthur', 672),
 ('America', 671),
 ('murdered', 671),
 ('discovered', 670),
 ('Fred', 669),
 ('different', 669),
 ('negative', 668),
 ('abandoned', 666),
 ('Jerry', 665),
 ('boss', 665),
 ('adapted', 664),
 ('Ann', 662),
 ('Manhattan', 661),
 ('state', 660),
 ('Warner', 660),
 ('suggests', 660),
 ('fellow', 660),
 ('Gordon', 658),
 ('Eddie', 658),
 ('encounter', 657),
 ('right', 657),
 ('agent', 657),
 ('Beach', 655),
 ('moves', 654),
 ('Dan', 654),
 ('Van', 652),
 ('secretly', 652),
 ('Barbara', 652),
 ('partner', 651),
 ('class', 651),
 ('Ed', 650),
 ('Lewis', 650),
 ('Allen', 649),
 ('Ken', 649),
 ('Ryan', 649),
 ('coming', 648),
 ('Island', 648),
 ('Danny', 647),
 ('fails', 646),
 ('Anne', 646),
 ('Ron', 646),
 ('Hill', 646),
 ('follow', 645),
 ('Sean', 644),
 ('attention', 644),
 ('student', 644),
 ('confesses', 644),
 ('want', 643),
 ('drug', 642),
 ('University', 642),
 ('Douglas', 641),
 ('chance', 640),
 ('Nick', 639),
 ('suddenly', 638),
 ('watch', 638),
 ('Dennis', 637),
 ('wrote', 636),
 ('evening', 636),
 ('bar', 635),
 ('future', 635),
 ('Matthew', 635),
 ('stage', 634),
 ('fiction', 631),
 ('bed', 630),
 ('science', 630),
 ('Santa', 629),
 ('wealthy', 629),
 ('winning', 629),
 ('power', 629),
 ('Jennifer', 627),
 ('cult', 627),
 ('Matt', 627),
 ('gang', 626),
 ('wedding', 625),
 ('shooting', 622),
 ('Young', 621),
 ('spend', 620),
 ('date', 620),
 ('older', 618),
 ('evidence', 618),
 ('shown', 618),
 ('share', 616),
 ('care', 616),
 ('Barry', 616),
 ('half', 614),
 ('Louis', 612),
 ('feelings', 611),
 ('Hotel', 611),
 ('Blvd', 611),
 ('selected', 610),
 ('form', 610),
 ('Alex', 610),
 ('driving', 609),
 ('accident', 607),
 ('Jackson', 607),
 ('Philip', 606),
 ('result', 606),
 ('dying', 606),
 ('support', 605),
 ('present', 604),
 ('arrest', 604),
 ('loves', 602),
 ('kiss', 601),
 ('sexual', 599),
 ('opens', 598),
 ('warns', 598),
 ('act', 598),
 ('better', 597),
 ('includes', 597),
 ('process', 597),
 ('stolen', 596),
 ('waiting', 596),
 ('considered', 595),
 ('remaining', 595),
 ('destroy', 595),
 ('battle', 595),
 ('convince', 595),
 ('middle', 595),
 ('June', 594),
 ('adaptation', 593),
 ('military', 591),
 ('stops', 590),
 ('law', 590),
 ('Moore', 590),
 ('realize', 589),
 ('Lake', 587),
 ('personal', 587),
 ('generally', 587),
 ('cut', 586),
 ('hands', 586),
 ('Adam', 585),
 ('version', 585),
 ('notices', 585),
 ('La', 585),
 ('truth', 585),
 ('Lisa', 585),
 ('hired', 584),
 ('member', 584),
 ('nearly', 584),
 ('script', 583),
 ('truck', 582),
 ('Sarah', 581),
 ('Long', 581),
 ('Black', 579),
 ('Russell', 578),
 ('House', 578),
 ('Victor', 578),
 ('offer', 577),
 ('information', 577),
 ('theatrically', 577),
 ('white', 575),
 ('Vincent', 575),
 ('previously', 575),
 ('September', 575),
 ('Ian', 574),
 ('reveal', 574),
 ('steal', 573),
 ('situation', 573),
 ('Picture', 573),
 ('catches', 573),
 ('chase', 572),
 ('major', 572),
 ('main', 572),
 ('Children', 571),
 ('wounded', 571),
 ('die', 571),
 ('producer', 570),
 ('returned', 570),
 ('change', 568),
 ('reach', 568),
 ('went', 567),
 ('Donald', 566),
 ('loses', 565),
 ('looks', 565),
 ('doctor', 564),
 ('person', 564),
 ('appear', 564),
 ('inspired', 563),
 ('believing', 562),
 ('Germany', 562),
 ('age', 561),
 ('Terry', 561),
 ('gone', 561),
 ('Anderson', 558),
 ('ride', 557),
 ('School', 557),
 ('fact', 556),
 ('August', 554),
 ('Max', 553),
 ('actor', 552),
 ('promises', 552),
 ('road', 551),
 ('Jay', 550),
 ('Fantasy', 549),
 ('Morgan', 547),
 ('held', 547),
 ('October', 547),
 ('opening', 544),
 ('travels', 544),
 ('directorial', 543),
 ('single', 543),
 ('things', 542),
 ('Pat', 540),
 ('Mystery', 540),
 ('line', 538),
 ('happened', 537),
 ('Dean', 537),
 ('Baker', 537),
 ('performances', 536),
 ('theatrical', 536),
 ('Paris', 536),
 ('hidden', 536),
 ('ship', 536),
 ('Julie', 536),
 ('childhood', 535),
 ('direct', 535),
 ('injured', 535),
 ('baby', 534),
 ('fantasy', 534),
 ('December', 534),
 ('store', 534),
 ('ultimately', 534),
 ('times', 534),
 ('adventure', 532),
 ('blood', 532),
 ('acting', 532),
 ('joins', 532),
 ('began', 532),
 ('area', 531),
 ('needs', 531),
 ('allows', 529),
 ('bomb', 528),
 ('recently', 528),
 ('picture', 526),
 ('scenes', 526),
 ('Cannes', 526),
 ('food', 526),
 ('security', 524),
 ('Universal', 524),
 ('mysterious', 524),
 ('County', 523),
 ('government', 523),
 ('identity', 521),
 ('Actor', 521),
 ('dog', 521),
 ('Charlie', 521),
 ('East', 520),
 ('German', 520),
 ('studio', 519),
 ('idea', 519),
 ('college', 519),
 ('highest', 518),
 ('Anna', 518),
 ('mission', 518),
 ('Lawrence', 517),
 ('pulls', 515),
 ('Dick', 514),
 ('Library', 513),
 ('Musical', 513),
 ('Eventually', 512),
 ('Italy', 512),
 ('falling', 511),
 ('funeral', 511),
 ('Alexander', 511),
 ('Ralph', 510),
 ('buy', 510),
 ('State', 510)]

In [608]:
new_combined = []
for doc in tokenizer.pipe(combined_column, 150):
    tokens = [token.orth_ for token in doc]
    for token in tokens:
        try:
            most_common_dict[token]
            tokens.remove(token)
        except KeyError as e:
            pass
    
    new_string = " ".join(tokens)
    new_string = new_string.replace(",", "")
    new_string = new_string.replace("  ", " ")
    new_combined.append(new_string)

In [612]:
full_movies["Combined"] = pd.Series(new_combined)

# Auxiliary Dataset

In [4]:
full_movies = pd.read_csv("../data/auxiliary_dataset_wiki.csv")
full_movies = full_movies.rename({"title": "MovieTitle", "genres": "Genres", "year": "ReleaseYear"}, axis=1)
full_movies = full_movies.fillna("")

In [6]:
full_movies["Combined"] = full_movies.apply(combine_columns, axis=1)

# Getting GPT-3.5 Embeddings

In [7]:
import tiktoken

embedding_model = "text-embedding-ada-002"
embedding_encoding = "cl100k_base"
MAX_TOKEN = 8000

encoding = tiktoken.get_encoding(embedding_encoding)

In [13]:
n_tokens = full_movies["Combined"].apply(lambda x: len(encoding.encode(x)))
n_tokens.describe()

count      70.000000
mean     1049.614286
std       434.206699
min        15.000000
25%       899.000000
50%      1158.500000
75%      1323.000000
max      1786.000000
Name: Combined, dtype: float64

In [14]:
(n_tokens.sum()/1000) * 0.0004

0.0293892

In [9]:
from openai.embeddings_utils import get_embedding

embedding = full_movies["Combined"].apply(lambda x: get_embedding(x, engine=embedding_model))

In [10]:
embedding

0      [-0.023528121411800385, -0.01260435115545988, ...
1      [0.00486621493473649, -0.00323661370202899, -0...
2      [-0.026798883453011513, -0.03953718766570091, ...
3      [-0.01732458919286728, -0.045089658349752426, ...
4      [-0.0016022056806832552, 0.002192316809669137,...
                             ...
328    [-0.005953111220151186, -0.007994270883500576,...
329    [0.009177283383905888, -0.002706709550693631, ...
330    [0.00604227464646101, -0.0031645353883504868, ...
331    [0.005159646272659302, -0.03872064873576164, -...
332    [-0.009587714448571205, 0.0004927201080136001,...
Name: Combined, Length: 333, dtype: object

In [19]:
import pickle

with open("../data/pickle_jar/aux_gpt3_embed.pickle", "wb") as f:
    pickle.dump(embedding, f, protocol=pickle.HIGHEST_PROTOCOL)

In [11]:
embeddings_new = []
for e in embedding.values:
    embeddings_new.append(e)
    
embeddings_new = np.array(embeddings_new, dtype="float64")

In [12]:
import h5py

with h5py.File("../data/embeddings/aux_gpt3_embed_level3.h5", "w") as f:
    for column in full_movies.columns.values:
        f.create_dataset(column, data=full_movies[column].values)
    
    f.create_dataset("Embedding", data=embeddings_new)

In [13]:
def h5py_filetree(path):
    with h5py.File(path, "r") as temp:
        for k in temp.keys():
            print(k)

h5py_filetree("../data/embeddings/aux_gpt3_embed_level3.h5")

Combined
Description
Embedding
Genres
MovieTitle
ReleaseYear

In [128]:
with h5py.File("./hetrec_gpt3_embed_level3.h5", "r") as f:
    embeds = f["Embedding"][:]
    movie_ids = f["MovieID"][:]
    titles = f["MovieTitle"][:]
    tags = f["Tags"][:]
    genres = f["Genres"][:]